# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xccscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage
Pods/
Carthage/

# Secrets
.env
client_secret.json
GoogleService-Info.plist
